<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-left">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  </button>
                                <div class="nav-logo">
                                  <%# image_tag "logo2.png" %>
                                </div>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                                    <li><%= link_to 'Chat With Us', chat_bot_path, :class => 'navbar-link' %></li>
                                    <% if user_signed_in? %>
                                      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                                      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                                    <% else %>
                                      <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                                      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                                    <% end %>
                                </ul>
                                <% if user_signed_in? %>
                                  <p class="navbar-text navbar-right">Logged in as <strong><%= current_user.email %></strong></p>
                                <% end %>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
            <!-- .col-md-6 -->

            <!-- <div class="col-md-6">
                <div class="block-right">
                    <div class="contact-area">
                        <ul>
                          <li><i class="fa fa-envelope-o"></i>RAYMOND</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- .col-md-6 close -->
        </div>
        <!-- .row close -->
    </div>
    <!-- .container close -->
</section>
