<!DOCTYPE html>
<html>
  <head>
    <title>WdiProject4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "partials/nav" %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= current_user.try(:admin?)? "<p class=\"alert alert-info\">logged in as admin<p>".html_safe : '' %>
      <%= yield %>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </body>
</html>
