<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag "font-awesome.min", "main", "responsive" %>
    <%= javascript_include_tag "plugins", "main", "owl.carousel.min", "jquery.typer" %>

    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

    <!-- header Start
         ================================================= -->

    <%= render "partials/newnav" %>

    <!-- Slider Start
        ============================================================== -->

    <section id="slider">
      <div class="sliderBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="slider-text-area">
                            <div class="slider-text">
                                <h1>Meet the SML Chatbot<br></h1>
                                <div class="contant-2-header">
                                  <h2>
                                    <span  data-typer-targets="Chatbot, Machine Learning, Sentiment Analysis"></span>
                                  </h2>
                                </div>


                                <p class="slider-p"> A customers service robot that seamlessly integrates a clean and light-weight React chatbot with real-time interaction analysis powered by the IBM Watson Tone Analyzer and trained Wit.Ai decision-aggregation models.<br> </p>

                                <p class="slider-p"> Sign up now! No email verification is needed</p>
                                <a href="/users/sign_up"><button type="button" class="btn btn-default edit-button-1">SIGN UP</button></a>
                                <a href="/users/sign_in"><button type="button" class="btn btn-default edit-button-1">LOGIN</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-md-12 close -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
      </div>
      <!-- .section close -->
    </section>
    <!-- #slider close -->


    <!-- contant-1 start
        ===================================================== -->

    <section id="contant-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block-left">
                        <div class="contant-1-text-area">
                            <div class="contant-1-head">
                                <h1>Chatbots that care</h1>
                            </div>
                            <div class="contant-1-text">
                                <h2>How it came about</h2>
                                <p> The proliferation of offshore customer service operations has distanced users from seeking answers to time-sensitive problems, or even questions they might be facing. Navigating complex websites is daunting and places unnecessary road blocks in the way of the user. Energized by a less-than-satisfactory experience locating a mis-delivered package by one of our members, our team set out to explore ways to facilitate meaningful front-facing customer interaction - with deep learning capabilities focused on listening to the user. </p>
                                <a href="https://github.com/lackdaz/wdi-project-2"><button type="button" class="btn btn-default edit-button-2">LEARN MORE</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-md-6 close -->
                <div class="col-md-6">
                    <div class="block-right">
                        <div class="block-right-img">
                            <!-- SETH <img src="img/thing.jpeg" alt="img"> -->
                        </div>
                    </div>
                </div>
                <!-- .col-md-6 close -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- #contant-1 close -->


    <!-- contant-2 start
        ===================================================== -->

    <section id="contant-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                  <div class="block-right">
                      <div class="block-right-img">
                          <!-- SETH <img src="img/thing.jpeg" alt="img"> -->
                      </div>
                  </div>

                </div>
                <!-- .col-md-6 close -->
                <div class="col-md-6">
                  <div class="block-left">
                      <div class="contant-2-text-area">
                          <div class="contant-2-header">
                              <h1>The APIS we loved</h1>
                          </div>
                          <div class="contant-2-text">
                              <h2>Sharing is Caring</h2>
                              <p>
                                We were looking for a light-weight chatbot UI that could be deployed on a website (sorry, messenger). We are happy to share the <a href="https://github.com/LucasBassetti/react-simple-chatbot">React Simple Chatbot</a> project by our friend <a href="https://github.com/LucasBassetti">Lucas Bassetti</a>, who on numerous occasions helped us out with some difficulties using the recently released U. In turn, we are honoured to have contributed to the development of the chat engine, following in the footsteps of an experienced front-end developer. Reading through its source codes, we found that the chat engine could support dynamic chat routing through some cleverly designed function calls. We will be working with its creator to introduce this as a full function of the engine.
                              <br><br></p>

                              <p>
                                Using the Wit.ai MaaS (Machine-Learning-as-a-Service) was a no brainer. Its ease of us(no math!) and ability to support two-way conversations was a plus - but we did not utilize this feature because we wanted to integrate a fully-featured Emotional Analysis by IBM Watson's Tone Analyzer - which could read sadness, anger, joy and so other profiles.
                              </p>
                              <a href="https://github.com/LucasBassetti/react-simple-chatbot"><button type="button" class="btn btn-default edit-button-2">Chat UI</button></a>
                              <a href="https://wit.ai/"><button type="button" class="btn btn-default edit-button-2">Wit.ai</button></a>

                              <a href="https://www.ibm.com/watson/developercloud/tone-analyzer"><button type="button" class="btn btn-default edit-button-2">Tone</button></a>

                          </div>
                      </div>
                  </div>
                </div>
                <!-- .col-md-6 close -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- #contant-2 close -->


    <!-- footer Start
        ====================================================================== -->

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="footer-contant">
                            <h3>We are on the job market!</h3>
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-github"></i></a>

                            </div>
                            <div class="support-link">
                                <ul>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Developers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-md-12 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    <!-- #footer -->

    <script>
        // window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
</body>

</html>
