<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag "slicknav", "font-awesome.min", "main", "custom", "responsive" %>
    <%= javascript_include_tag "plugins", "main", "owl.carousel.min" %>

    <!-- <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->

    <!-- header Start
         ================================================= -->

    <%= render "partials/nav" %>
    <%= render "partials/flash" %>

    <!-- Slider Start
        ============================================================== -->

    <section id="slider">
      <div class="sliderBackground">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="slider-text-area">
                            <div class="slider-text">
                                <h2>Meet the SML Chatbot<br></h2>
                                <p class="sub-slider-text">SentimentBot + ML Bot</p>
                                <p class="slider-p"> Sentinel is an open-source home automation platform that allows you to observe, control and automate personnel access to your home environment <br> </p> <p class="slider-p"> Sign up now! No email verification is needed</p>
                                <a href="/signup"><button type="button" class="btn btn-default edit-button-1">SIGN UP</button></a>
                                <a href="/login"><button type="button" class="btn btn-default edit-button-1">LOGIN</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-md-12 close -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
      </div>
      <!-- .section close -->
    </section>
    <!-- #slider close -->


    <!-- contant-1 start
        ===================================================== -->

    <section id="contant-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block-left">
                        <div class="contant-1-text-area">
                            <div class="contant-1-head">
                                <h1>Chatbots that care</h1>
                            </div>
                            <div class="contant-1-text">
                                <h2>How it came about</h2>
                                <p>This is my first full-stack web application, and I wanted to combine the best of both hardware and software had to offer for home automation. So meet Sentinel, the brainchild of my love for hardware, and Thingies, a platform to coordinate all the smarts! <br> As this is only a work in progress, please feel free to reach out to me for any known issues!</p>
                                <a href="https://github.com/lackdaz/wdi-project-2"><button type="button" class="btn btn-default edit-button-2">LEARN MORE</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-md-6 close -->
                <div class="col-md-6">
                    <div class="block-right">
                        <div class="block-right-img">
                            <!-- SETH <img src="img/thing.jpeg" alt="img"> -->
                        </div>
                    </div>
                </div>
                <!-- .col-md-6 close -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- #contant-1 close -->



    <!-- Submit Start
        ======================================================== -->

    <section id="submit-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="submit-contant">
                            <div class="submit-header">
                                <i class="fa fa-envelope-o"></i>
                                <h3>Subscribe our Newsletter</h3>
                            </div>
                            <div class="submit-area">
                                <div class="submit-bottom">
                                    <form action="">
                                        <input type="text" placeholder="your email address">
                                        <input type="submit" value="submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .col-md-12 -->
            </div>
            <!-- .row close -->
        </div>
        <!-- .container close -->
    </section>
    <!-- #submit close -->


    <!-- footer Start
        ====================================================================== -->

    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="footer-contant">
                            <h3>Say Hi, Get In Touch</h3>
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                                <a href="#"><i class="fa fa-flickr"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                            <div class="support-link">
                                <ul>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Developers</a></li>
                                    <li><a href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col-md-12 -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </section>
    <!-- #footer -->

    <script>
        // window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
    </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>
</body>

</html>
